# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio stuff
*.sln
*.vcxproj
*.vcxproj.filters
Debug
Win32
server.dir
.vs

# CMake stuff
server_config.hpp
CMakeCache.txt
CMakeFiles
cmake
*.cmake

# GNU make
Makefile